@{
    ViewBag.Title = "Giới Thiệu";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Giới Thiệu </h2>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với Hina HomeStay</h3>
            <video controls autoplay loop  width="100%" height="650px" >
                <source src="~/Content/Images/Phong/video.mp4">
            </video>
            <p>
                Không gian nội thất của homestay
                Mỗi căn phòng tại Hina homestay Đà Lạt điều được thiết kế theo một chủ đề khác nhau,
                mỗi cái tên gọi sẽ gắn liền với những đặc trưng riêng. Phòng ở đây được thiết kế đơn giản
                , không quá nhiều đồ trang trí, hay quá tiện nghi, nhưng vẫn thể hiện lên được nét đặc trưng
                riêng của từng phòng.
                <img src="~/Content/Home/images/gt1.jpg" class="img-gt">
                Mỗi phòng đều có cửa sổ view nhìn ra vườn hoa hoặc view thung lũng, rừng thông.
                Điều để lại ấn tượng nhất ở Hina homestay đấy chính là căn nhà Haria, tất biệt ở phía dưới.
                <img src="~/Content/Home/images/gt2.jpg" alt="Image" class="img-gt">
                Căn nhà được thiết kế theo một không gia mở, có view nhìn xuống thung lũng cực đẹp. Đặc biệt
                thích nhất là ngôi nhà mái chóp bên trên, được thiết kế bằng gỗ nên tạo một không gian ấm cúng và
                view cực đẹp vào buổi sáng.
                <img src="~/Content/Home/images/gt3.jpg" alt="Image" class="img-gt">
                Nhìn chung thì các căn phòng ở homestay Hina Đà Lạt đều khá đầy đủ tiện nghi,
                mỗi phòng đều có đầy đủ chăn ấm nệm êm. Mỗi phòng đều có nhà vệ sinh riêng, và có khăn tắm cho khách,
                có tủ để treo áo quần và không gian thoáng, không bị gò bó.
            </p>
            <h3>Không gian ngoại thất của homestay</h3>
            <p>
                Nằm trên một sườn đồi cao, Hina homestay chào đón bạn với những âm thân ngân vang từ những chiếc chuông gió,
                và tiếng sáo ngân nga. Một không gian thật yên tỉnh, yên bình, lọt thỏm giữa cánh rừng thông của núi rừng Đà Lạt.
                <img src="~/Content/Home/images/gt4.jpg" alt="Image" class="img-gt">
                Phía sau homestay Hina có một khoảng sân khá rộng. Các bạn có thể cùng bạn bè đốt lửa, giao lưu văn nghệ,
                và những bữa tiệc BBQ để xua tan đi cái lạnh của Đà Lạt. Bật mí với bạn một điều là ở homestay có hai anh chủ
                thổi sáo và đánh guitar hay lắm nhé.
                <img src="~/Content/Home/images/gt5.jpg" alt="Image" class="img-gt">
                Đặc biệt đối với những bạn thích ngắm bình minh và hoàng hôn, thì Hina homestay Đà Lạt sẽ không làm bạn nuối
                tiếc đâu. Mỗi sớm mai thức dậy, vươn mình hít một hơi thật sâu, để cảm nhận được bầu không khí trong lành của rừng
                và ngắm nhìn những tia nắng đầu tiên. Để bắt đầu một hành trình mới, một trải nghiệm khám phá Đà Lạt của riêng bạn.
                <img src="~/Content/Home/images/gt6.jpg" alt="Image" class="img-gt">


            <p>
        </div>
    </div>
</div>


