
@{
    ViewBag.Title = "Địa Điểm CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font primary-color">Địa Điểm Vui Chơi</h2>
                <p>Homestay-Hina nằm gần trung tâm thành Phố quý Khách có thể di chuyển đên các địa điểm checkin nổi tiếng một các dễ dàng. Dưới đây là một số địa điểm đc Homestay chọn lọc.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci1.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci1.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Cối Xay Gió Đà Lạt </h1>
                        <p><h2>Địa chỉ:</h2><p>Đường khu Hòa Bình, phường 1, thành phố Đà Lạt, tỉnh Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci2.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci2.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Check in Chợ Đà Lạt</h1>
                        <p><h2>Địa chỉ:</h2><p>Nguyễn Thị Minh Khai, Phường 1, Thành phố Đà Lạt, Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci3.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci3.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Check in Quảng trường Lâm Viên </h1>
                        <p><h2>Địa chỉ:</h2><p>đường Trần Quốc Toản, Phường 1, Thành phố Đà Lạt, Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>

                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci4.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci4.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Check in Ga Đà Lạt</h1>
                        <p><h2>Địa chỉ:</h2> <p>số 1 đường Quang Trung, phường 10, thành phố Đà Lạt, Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci5.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci5.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Check in Cây thông cô đơn  </h1>
                        <p><h2>Địa chỉ:</h2> <p>Ankroet, Lát, Lạc Dương, Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci6.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci6.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Phim trường Happy Hill Đà Lạt  </h1>
                        <p><h2>Địa chỉ:</h2> <p>Khu du lịch Đá Tiên – Hồ Tuyền Lâm, thành phố Đà Lạt, Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci7.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci7.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Đường hầm đất sét-Hồ Vô cực</h1>
                        <p><h2>Địa chỉ:</h2> <p> Phường 4, Thành phố Đà Lạt, Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci8.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci8.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Tuyệt Tình Cốc Đà Lạt</h1>
                        <p><h2>Địa chỉ:</h2> <p>thôn Suối Cạn, xã Lát, huyện Lạc Dương, tỉnh Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/ci9.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/ci9.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Kokoro Cafe</h1>
                        <p><h2>Địa chỉ:</h2> <p>45 Đường Đặng Thái Thân, Phường 3, Thành phố Đà Lạt, Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font primary-color">Địa Điểm Ăn Uống</h2>
                <p>Homestay-Hina nằm gần trung tâm thành Phố quý Khách có thể di chuyển đên các địa điểm checkin nổi tiếng một các dễ dàng. Dưới đây là một số địa điểm đc Homestay chọn lọc.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au1.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au1.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Bánh tráng nướng Dì Đinh </h1>
                        <p><h2>Địa chỉ:</h2><p>26 Đường Hoàng Diệu, Phường 5, Thành phố Đà Lạt, Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au2.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au2.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Bánh Mì Xíu Mại Hoàng Diệu</h1>
                        <p><h2>Địa chỉ:</h2><p>26 Đường Hoàng Diệu, Phường 5, Thành phố Đà Lạt, Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au3.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au3.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Lẩu Gà Lá É Tao Ngộ</h1>
                        <p><h2>Địa chỉ:</h2><p>Số 5 Đường 3/4, Phường 3, Thành phố Đà Lạt, Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>

                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au4.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au4.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Quán Trang–Bánh ướt lòng gà</h1>
                        <p><h2>Địa chỉ:</h2> <p>15 Đường Tăng Bạt Hổ, Phường 1, Thành phố Đà Lạt, Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au5.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au5.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Lẩu đuôi bò & Ốc nhồi thịt</h1>
                        <p><h2>Địa chỉ:</h2> <p>33 Đường Hai Bà Trưng,Phường 6,Thành phố Đà Lạt,Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au6.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au6.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Chè Hé – Đường 3/2</h1>
                        <p><h2>Địa chỉ:</h2> <p>11 Ba Tháng Hai, Phường 1, Thành phố Đà Lạt, Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au7.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au7.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Xuân An – Bánh Canh & Bún Bò Huế</h1>
                        <p><h2>Địa chỉ:</h2> <p> 15 Đường Nhà Chung, Phường 3, Thành phố Đà Lạt, Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au8.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au8.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Sữa đậu nành Tăng Bạt hổ</h1>
                        <p><h2>Địa chỉ:</h2> <p>64 Đường Tăng Bạt Hổ, Phường 1, Thành phố Đà Lạt, Lâm Đồng</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/au9.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/au9.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h1>Dịch quán</h1>
                        <p><h2>Địa chỉ:</h2> <p>28a Hùng Vương, Phường 9, Thành phố Đà Lạt, Lâm Đồng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="gtco-section">
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">

                    </div>
                </div>
            </div>
