
@{
    ViewBag.Title = "Địa Điểm CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>

<br />
<br />
<br />
<br />
<div class="container">
    <div id="room-5052" class="post-5052 room type-room status-publish has-post-thumbnail hentry room_category-accommodation room_tag-garden room_tag-masterpiece">

        <div class="gdlr-room-thumbnail gdlr-single-room-thumbnail">
            <img src="~/Content/Home/images/gt3.jpg" alt="" width="1080" height="720" style="transform: scale(1, 1);"></a>
        </div>
        <div class="gdlr-room-title-wrapper">
            <h3 class="gdlr-room-title">Phòng Đôi </h3>
            <div class="gdlr-room-price"></div><div class="clear"></div>
        </div>
        <div class="gdlr-hotel-room-info">
            <div class="gdlr-room-info">
                <i class="fa fa-check-square-o icon-address"></i><span class="gdlr-head">Diện tích</span><span class="gdlr-tail"> - 120 m2</span>
            </div><div class="gdlr-room-info">
                <i class="fa fa-check-square-o icon-head"></i><span class="gdlr-head">Số lượng khách</span><span class="gdlr-tail"> - 4</span>
            </div><div class="gdlr-room-info">
                <i class="fa fa-check-square-o icon-save"></i><span class="gdlr-head">Giường</span><span class="gdlr-tail"> - 02 Giường đôi cỡ lớn</span>
            </div><div class="gdlr-room-info">
                <i class="fa fa-check-square-o icon-mail2"></i><span class="gdlr-head">Wifi</span><span class="gdlr-tail"> - Kết nối Internet tốc độ cao miễn phí</span>
            </div><div class="gdlr-room-info">
                <i class="fa fa-check-square-o icon-tv"></i><span class="gdlr-head">TV</span><span class="gdlr-tail"> - TV màn hình phẳng 48-inch với kết nối truyền hình cáp</span>
            </div><div class="gdlr-room-info">
                <i class="fa fa-check-square-o icon-quote"></i><span class="gdlr-head">Gối</span><span class="gdlr-tail"> - Theo lựa chọn của khách</span>
            </div><div class="gdlr-room-info">
                <i class="fa fa-check-square-o icon-ellipsis"></i><span class="gdlr-head">Ăn sáng</span><span class="gdlr-tail"> - Được miễn phí khi ăn sáng</span>
            </div><div class="gdlr-room-info"></div><div class="clear"></div>
        </div>
        <div class="gdlr-room-content">
            <p>
                Được thiết kế với diện tích rộng lên tới 120m2, phòng đơn tại Homestay ở Đà Lạt mang đến cho du khách không gian rộng rãi, thoáng đãng và tiện nghi. Với trang thiết bị hiện đại và các tiện ích đầy đủ như giường đôi cỡ lớn, TV màn hình phẳng 48-inch với kết nối truyền hình cáp, kết nối Internet tốc độ cao miễn phí, chăn ga gối êm ái, quý khách sẽ tận hưởng được giấc ngủ ngon và thư giãn sau những ngày dài khám phá thành phố Đà Lạt.
            </p>
            <p><em>Không gian của phòng được thiết kế và trang trí đầy tinh tế và sang trọng, tạo cảm giác ấm cúng và gần gũi với thiên nhiên xung quanh. Bên cạnh đó, phòng đơn còn được trang bị các tiện nghi như điều hòa nhiệt độ, minibar, bàn làm việc, tủ quần áo, két an toàn, phòng tắm với vòi sen, máy sấy tóc, đồ vệ sinh cá nhân, v.v. để đảm bảo quý khách sẽ có một kỳ nghỉ tuyệt vời tại Đà Lạt.</em></p>
            <p><em>Với phòng đôi tại Homestay ở Đà Lạt, quý khách cũng có thể yên tâm về an ninh bởi khách sạn được trang bị hệ thống camera an ninh và bảo vệ 24/24. Không chỉ là một nơi lưu trú, Homestay ở Đà Lạt còn là một không gian tuyệt vời để trải nghiệm và khám phá những điều mới lạ trong chuyến du lịch của mình..</em></p>
        </div>

    </div><!-- #room -->

    <div class="clear"></div>
</div>

